# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

In [1]:
def print_name(name):
    return f"Hello, {name}"

print_name("Ripal")

'Hello, Ripal'

In [2]:
b_print_name = lambda name: f"Hello, {name}"

In [6]:
b_print_name("Eli")

'Hello, Eli'

In [7]:
b_print_name("Dylan")

'Hello, Dylan'

In [12]:
num_list = [1, 2, 3, 4]
new_list = []

for n in num_list:
    num=n**2
    if n%2!=0:
        new_list.append(n**2)
print(new_list)

[1, 9]

In [21]:
#one -liner list comprehension
[n**3 for n in num_list if n%2!=0]

[1, 27]

In [15]:
suits = ['diamonds', 'hearts', 'spades', 'clubs']
ranks = range(1,14)

[(r, s) for s in suits for r in ranks][:5]

[(1, 'diamonds'),
 (2, 'diamonds'),
 (3, 'diamonds'),
 (4, 'diamonds'),
 (5, 'diamonds')]

In [18]:
cards = []
for s in suits:
    for r in ranks:
        cards.append((r,s))
print((cards)[:5])

[(1, 'diamonds'), (2, 'diamonds'), (3, 'diamonds'), (4, 'diamonds'), (5, 'diamonds')]

In [20]:
#ternary operators
name = "Eli"

# return stateemnt if condition is True ele if condition is false
"Hello" if name == "Eli" else "Who are you?"

'Hello'

In [22]:
# dictionary comprehension
ratings= {
    'html': '9',
    'css': '6',
    'python': '10',
    'javascript': '8'
    
}
sorted(ratings.values())

['10', '6', '8', '9']

In [25]:
# dictionary comprehension
ratings= {
    'html': '9',
    'css': '6',
    'python': '10',
    'javascript': '8'
    
}
filtered_ratings = {tech:int(rating) for (tech, rating) in ratings.items()}

In [26]:
sorted(filtered_ratings.values())

[6, 8, 9, 10]

In [31]:
# filter(f, a_list)
my_list = [1 ,2, 3, 7, 26]

def my_func(num):
    if num < 4:
        return True
f = lambda x:x+10 if x%2==0 else None

In [34]:
list(filter(my_func, my_list))

[1, 2, 3]

In [33]:
# map function returns a value for every iteration of list
list(map(f, my_list))

[None, 12, None, None, 36]

In [35]:
# the filter function only returns the value that evaluates to True. Are NOT abvle to change values of a filter function
list(filter(f, my_list))

[2, 26]

In [36]:
# PYTHON ARRAY = [45.2, 54.0, 6.7]
# PYTHON LIST = ['Derel', 5, 5.6, car1]

In [37]:
from statistics import mean

nums = [2, 7, 4.2, 4.4, 4.9]

In [46]:
# implementing a base case = the condiiton for your function to end
def factorial(num):
    #base case
    if num < 1:
        return 1
    else:
        return factorial(num-1) * num
    
factorial(8)

40320

In [48]:
def countdown(word):
    for char in word:
        print(char, end=' ')
countdown('work')

w o r k

In [50]:
def countdown(word):
    for char in word:
        return char
countdown('work')

'w'

In [52]:
def countdown(word):
    for char in word:
        yield char
countdown('work')

In [58]:
list(enumerate(ratings))

[(0, 'html'), (1, 'css'), (2, 'python'), (3, 'javascript')]

In [53]:
list(countdown('work'))

['w', 'o', 'r', 'k']

In [61]:
def square_countdown(num):
    while num <= 10:
        yield { num: num**2 }
        num+=1
    
list(square_countdown(2))

[{2: 4},
 {3: 9},
 {4: 16},
 {5: 25},
 {6: 36},
 {7: 49},
 {8: 64},
 {9: 81},
 {10: 100}]